body {
  max-width: 70%;
  margin: 30px auto;
  border: 1px solid #333;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

main {
  max-width: 90%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 130%;
  padding-bottom: 5px;
}

p {
  line-height: 180%;
}

.snippet {
  display: flex;
}

#post-category, #post-title {
  margin: 0;
}

#teaser-section {
  margin-bottom: 40px;
}

#hidden {
  display: none;
}

#full-section-visible {
  display: visible;
}

@media screen and (max-width: 1000px) {
 #hidden {
  display: inherit !important;
}
  
  #teaser-section {
    display: none !important;
  }
  
}
